{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
    <!-- <p>Username: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    {% if user.first_name %}<p>First name: {{ user.first_name }}</p>{% endif %}
    {% if user.last_name %}<p>Last name: {{ user.last_name }}</p>{% endif %}
    {% if user.birthdate %}
        <p>Birthdate: {{ user.birthdate }}</p>
    {% endif %}
    {% if user.country %}
        <p>Country: {{ user.country }}</p>
    {% endif %}
    {% if user.city %}
        <p>City: {{ user.city }}</p>
    {% endif %}
    <p>
        <a href="{% url 'profile_edit' user.id %}">Edit</a>
    </p> -->
    <!-- templates/profile.html -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 p-6">
        <!-- Имя пользователя -->
        <div class="bg-white shadow-md rounded-2xl p-4">
            <h2 class="text-gray-600 text-sm">Имя пользователя</h2>
            <p class="text-xl font-semibold">{{ user.username }}</p>
        </div>
  
        <!-- Email -->
        <div class="bg-white shadow-md rounded-2xl p-4">
            <h2 class="text-gray-600 text-sm">Email</h2>
            <p class="text-xl font-semibold">{{ user.email }}</p>
        </div>
  
        <!-- Дата рождения -->
        <div class="bg-white shadow-md rounded-2xl p-4">
            <h2 class="text-gray-600 text-sm">Дата рождения</h2>
            <p class="text-xl font-semibold">{{ user.birthdate|date:"d.m.Y" }}</p>
        </div>
  
        <!-- Город -->
        <div class="bg-white shadow-md rounded-2xl p-4">
            <h2 class="text-gray-600 text-sm">Город</h2>
            <p class="text-xl font-semibold">{{ user.city }}</p>
        </div>
  
        <!-- Страна -->
        <div class="bg-white shadow-md rounded-2xl p-4">
            <h2 class="text-gray-600 text-sm">Страна</h2>
            <p class="text-xl font-semibold">{{ user.country }}</p>
        </div>
        <p>
            <a href="{% url 'profile_edit' user.id %}">Edit</a>
        </p>
    </div>
{% endblock %}